/* line 8, ../sass/styleguide.scss */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px; }

@media print {
  /* line 25, ../sass/styleguide.scss */
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }
/* line 34, ../sass/styleguide.scss */
pre[class*="language-"] {
  padding: 1em;
  margin: -1px 0 0;
  overflow: auto; }

/* line 41, ../sass/styleguide.scss */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #f7f7f9; }

/* line 49, ../sass/styleguide.scss */
:not(pre) > code[class*="language-"] {
  padding: .1em; }

/* line 56, ../sass/styleguide.scss */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

/* line 60, ../sass/styleguide.scss */
.token.punctuation {
  color: #999; }

/* line 64, ../sass/styleguide.scss */
.namespace {
  opacity: .7; }

/* line 71, ../sass/styleguide.scss */
.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905; }

/* line 77, ../sass/styleguide.scss */
.token.selector,
.token.attr-name,
.token.string {
  color: #690; }

/* line 85, ../sass/styleguide.scss */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background-color: #f7f7f9; }

/* line 92, ../sass/styleguide.scss */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

/* line 98, ../sass/styleguide.scss */
.token.regex,
.token.important {
  color: #e90; }

/* line 102, ../sass/styleguide.scss */
.token.important {
  font-weight: bold; }

/* line 106, ../sass/styleguide.scss */
.token.entity {
  cursor: help; }

/* line 115, ../sass/styleguide.scss */
.container-body {
  padding: 10px 30px 40px; }

@media all and (min-width: 770px) {
  /* line 120, ../sass/styleguide.scss */
  .example-navigation {
    max-width: 270px; } }
/* line 125, ../sass/styleguide.scss */
.example-navigation li ul {
  display: none; }

/* line 129, ../sass/styleguide.scss */
.example-navigation li.HighLighted ul {
  display: block; }

@media all and (min-width: 770px) {
  /* line 134, ../sass/styleguide.scss */
  #menuElem.sticky {
    width: 220px; } }
@media all and (max-width: 769px) {
  /* line 140, ../sass/styleguide.scss */
  #menuElem {
    position: relative !important; } }
/* line 145, ../sass/styleguide.scss */
.example-section {
  margin-bottom: 30px; }

/* line 149, ../sass/styleguide.scss */
.example {
  position: relative;
  margin: 15px 0 0;
  padding: 47px 19px 19px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  overflow: hidden; }

/* line 159, ../sass/styleguide.scss */
.example-alt {
  background-color: #0088B2; }

/* line 163, ../sass/styleguide.scss */
.example-scroll {
  overflow-x: scroll; }

/* line 167, ../sass/styleguide.scss */
.example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4; }

/* line 180, ../sass/styleguide.scss */
.style-guide .carousel {
  min-height: 100px; }

/* line 188, ../sass/styleguide.scss */
.colour-section-primary {
  background: #0088b2;
  color: white; }

/* line 193, ../sass/styleguide.scss */
.colour-section-text {
  background: #333333;
  color: white; }

/* line 198, ../sass/styleguide.scss */
.colour-section-link {
  background: #0088cc;
  color: white; }

/* line 203, ../sass/styleguide.scss */
.colour-section-linkhover {
  background: #155375;
  color: white; }

/* line 208, ../sass/styleguide.scss */
.colour-section-primarynav {
  background: -moz-linear-gradient(top, #00bce9 0%, #0088b2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00bce9), color-stop(100%, #0088b2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00bce9 0%, #0088b2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00bce9 0%, #0088b2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00bce9 0%, #0088b2 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #00bce9 0%, #0088b2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bce9', endColorstr='#0088b2',GradientType=0 );
  /* IE6-8 */
  color: white; }

/* line 219, ../sass/styleguide.scss */
.colour-section-list {
  background: #005E9F;
  color: white; }

/* line 224, ../sass/styleguide.scss */
.colour-section-body {
  background: #ffffff; }

/* line 228, ../sass/styleguide.scss */
.colour-section-site {
  background: #B7D8EB; }

/* line 236, ../sass/styleguide.scss */
.table-logos td {
  border-top: 0;
  text-align: center;
  padding: 10px 60px 30px 0;
  vertical-align: middle; }

/* line 243, ../sass/styleguide.scss */
.table-logos p, .table-logos h4 {
  text-align: left; }

/* line 251, ../sass/styleguide.scss */
.table-newsletters td {
  border-top: 0;
  text-align: center; }

/* line 260, ../sass/styleguide.scss */
.responsive-utilities th small {
  display: block;
  font-weight: normal;
  color: #999; }

/* line 265, ../sass/styleguide.scss */
.responsive-utilities tbody th {
  font-weight: normal; }

/* line 268, ../sass/styleguide.scss */
.responsive-utilities td {
  text-align: center; }

/* line 271, ../sass/styleguide.scss */
.responsive-utilities td.is-visible {
  color: #468847;
  background-color: #dff0d8 !important; }

/* line 275, ../sass/styleguide.scss */
.responsive-utilities td.is-hidden {
  color: #ccc;
  background-color: #f9f9f9 !important; }

/* line 284, ../sass/styleguide.scss */
.adc-logo {
  width: 200px; }

/* line 288, ../sass/styleguide.scss */
.sidebar {
  background: #0088CC;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 20px; }
  /* line 298, ../sass/styleguide.scss */
  .sidebar li a {
    color: white; }

/* line 303, ../sass/styleguide.scss */
.content-wrapper {
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  position: absolute;
  left: 300px; }

/* line 313, ../sass/styleguide.scss */
.content {
  max-width: 1000px;
  min-width: 500px; }
