/* line 1, ../sass/syntax.scss */
.highlight {
  background: #ffffff; }

/* line 2, ../sass/syntax.scss */
.highlight .c {
  color: #999988;
  font-style: italic; }

/* line 3, ../sass/syntax.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* line 4, ../sass/syntax.scss */
.highlight .k {
  font-weight: bold; }

/* line 5, ../sass/syntax.scss */
.highlight .o {
  font-weight: bold; }

/* line 6, ../sass/syntax.scss */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* line 7, ../sass/syntax.scss */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* line 8, ../sass/syntax.scss */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* line 9, ../sass/syntax.scss */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* line 10, ../sass/syntax.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* line 11, ../sass/syntax.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* line 12, ../sass/syntax.scss */
.highlight .ge {
  font-style: italic; }

/* line 13, ../sass/syntax.scss */
.highlight .gr {
  color: #aa0000; }

/* line 14, ../sass/syntax.scss */
.highlight .gh {
  color: #999999; }

/* line 15, ../sass/syntax.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* line 16, ../sass/syntax.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* line 17, ../sass/syntax.scss */
.highlight .go {
  color: #888888; }

/* line 18, ../sass/syntax.scss */
.highlight .gp {
  color: #555555; }

/* line 19, ../sass/syntax.scss */
.highlight .gs {
  font-weight: bold; }

/* line 20, ../sass/syntax.scss */
.highlight .gu {
  color: #aaaaaa; }

/* line 21, ../sass/syntax.scss */
.highlight .gt {
  color: #aa0000; }

/* line 22, ../sass/syntax.scss */
.highlight .kc {
  font-weight: bold; }

/* line 23, ../sass/syntax.scss */
.highlight .kd {
  font-weight: bold; }

/* line 24, ../sass/syntax.scss */
.highlight .kp {
  font-weight: bold; }

/* line 25, ../sass/syntax.scss */
.highlight .kr {
  font-weight: bold; }

/* line 26, ../sass/syntax.scss */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* line 27, ../sass/syntax.scss */
.highlight .m {
  color: #009999; }

/* line 28, ../sass/syntax.scss */
.highlight .s {
  color: #dd1144; }

/* line 29, ../sass/syntax.scss */
.highlight .na {
  color: teal; }

/* line 30, ../sass/syntax.scss */
.highlight .nb {
  color: #0086b3; }

/* line 31, ../sass/syntax.scss */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* line 32, ../sass/syntax.scss */
.highlight .no {
  color: teal; }

/* line 33, ../sass/syntax.scss */
.highlight .ni {
  color: purple; }

/* line 34, ../sass/syntax.scss */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* line 35, ../sass/syntax.scss */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* line 36, ../sass/syntax.scss */
.highlight .nn {
  color: #555555; }

/* line 37, ../sass/syntax.scss */
.highlight .nt {
  color: navy; }

/* line 38, ../sass/syntax.scss */
.highlight .nv {
  color: teal; }

/* line 39, ../sass/syntax.scss */
.highlight .ow {
  font-weight: bold; }

/* line 40, ../sass/syntax.scss */
.highlight .w {
  color: #bbbbbb; }

/* line 41, ../sass/syntax.scss */
.highlight .mf {
  color: #009999; }

/* line 42, ../sass/syntax.scss */
.highlight .mh {
  color: #009999; }

/* line 43, ../sass/syntax.scss */
.highlight .mi {
  color: #009999; }

/* line 44, ../sass/syntax.scss */
.highlight .mo {
  color: #009999; }

/* line 45, ../sass/syntax.scss */
.highlight .sb {
  color: #dd1144; }

/* line 46, ../sass/syntax.scss */
.highlight .sc {
  color: #dd1144; }

/* line 47, ../sass/syntax.scss */
.highlight .sd {
  color: #dd1144; }

/* line 48, ../sass/syntax.scss */
.highlight .s2 {
  color: #dd1144; }

/* line 49, ../sass/syntax.scss */
.highlight .se {
  color: #dd1144; }

/* line 50, ../sass/syntax.scss */
.highlight .sh {
  color: #dd1144; }

/* line 51, ../sass/syntax.scss */
.highlight .si {
  color: #dd1144; }

/* line 52, ../sass/syntax.scss */
.highlight .sx {
  color: #dd1144; }

/* line 53, ../sass/syntax.scss */
.highlight .sr {
  color: #009926; }

/* line 54, ../sass/syntax.scss */
.highlight .s1 {
  color: #dd1144; }

/* line 55, ../sass/syntax.scss */
.highlight .ss {
  color: #990073; }

/* line 56, ../sass/syntax.scss */
.highlight .bp {
  color: #999999; }

/* line 57, ../sass/syntax.scss */
.highlight .vc {
  color: teal; }

/* line 58, ../sass/syntax.scss */
.highlight .vg {
  color: teal; }

/* line 59, ../sass/syntax.scss */
.highlight .vi {
  color: teal; }

/* line 60, ../sass/syntax.scss */
.highlight .il {
  color: #009999; }
